<!DOCTYPE html>
<html>
    <head>
        <title>.gov Stats</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header><h1>.gov Stats</h1><span>by cynthia.re</span></header>
        <main>
            If you wish to find the security email address for a .gov domain, please enter it below.<br>
            <form action="" method="get">
                <input class="inp" type="text" name="domain" id="domain">
                <input class="btn" type="submit" value="Submit">
            </form>
        </main>
        <footer>
            Copyright &copy; 2019 <a href="https://cynthia.re">Cynthia Maja Revström</a>.<br>
            .gov Stats is not affiliated with any government on any level, nor is it affiliated with VeriSign, Inc.
        </footer>
    </body>
</html>